@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}
.videos {
  width: 100%;
  display: grid;
  gap: 50px;
  height: 100vh;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minMax(350px, 1fr));
  padding: 20px;
}

.videos::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  border-radius: 10px;
}
.videos::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
